body {
  direction: rtl;
  text-align: right;
  unicode-bidi: embed;
}

.center {
  text-align: center;
}

h5 {
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    font-size: 20px;  
}

.bd-main .bd-content .bd-article-container {
  max-width: 100%;
}

/* blockquote, */
blockquote.quran {
  direction: rtl;
  text-align: right;
  border-radius: 20px;
  padding: 10px;
  border-left: none;
  border-right: 4px solid #00ffff;
  background-color: #29313d;
  margin-bottom: 0;
}

blockquote.hadith {
  direction: rtl;
  text-align: right;
  border-radius: 20px;
  padding: 10px;
  border-left: none;
  border-right: 4px solid #11ff00;
  background-color: #29313d;
  margin-bottom: 0;
}

blockquote.athar {
  direction: rtl;
  text-align: right;
  border-radius: 20px;
  padding: 10px;
  border-left: none;
  border-right: 4px solid #002aff;
  background-color: #29313d;
  margin-bottom: 0;
}

blockquote.tafsir {
  direction: rtl;
  text-align: right;
  border-radius: 20px;
  padding: 10px;
  border-left: none;
  border-right: 4px solid #ff9500;
  background-color: #29313d;
  margin-bottom: 0;
}


.parent-container {
  text-align: left; /* Align child elements to the left */
  /* Ensure that the parent does not impose RTL alignment on child positioning */
}

/* Source element styles */
.source {
  background-color: #79ec15;
  color: #fff;
    margin-left: 0; /* Ensure the margin starts from the left */
    text-align: left; /* Align text within the element to the left */
    direction: ltr;
    display:inline-block; /* Ensure the element takes up its own line */
}
